body{
  text-align: center;
  padding: 100px;
  font-family: Arial, sans-serif;
  border-radius: 100px;
  background:linear-gradient(#32a895,blue) ;

}
  
footer{
  margin: 20px; 
  font-size: 10px;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
}

form {
  background:linear-gradient(#32a895,blue) ;
  padding: 30px;
  border-radius: 20px;
  justify-content: center;
  display: inline-block;
}

button:hover {
  background: burlywood;
  transition: 0.3s;
}